<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
  <title>About Us</title>
  <link rel="stylesheet" href="resources/css/about.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <header>
    <div class="nav-bar">
      <a href="/">
        <img src="resources/img/reportmant.png" class="logo">
      </a>

      <div class="navigation">
        <div class="nav-items">
          <i class="uil uil-times nav-close-btn"></i>
          <div class="opciones">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="about">About us</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="formulario">Form</a></li>
              <li><a href="follow">Follow-up</a></li>
              <li><a href="record">Record</a></li>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <i class="uil uil-apps nav-menu-btn"></i>
    </div>
    <div class="scroll-indicator-container">
      <div class="scroll-indicator-bar"></div>
    </div>
  </header>
  
    <div>
      <section class="text">
        <h1>About Us</h1>
        <p>The web system will be a tool which facilitates the way to organize, to resolve and follow up on these
            technical failures in the maintenance of the university, it is essential to implement an efficient system
            for receiving and assigning reports. This, including a centralized digital registry to track reports, helps
            assign clear responsibilities and fluid communication between managers and requesters, helps to keep a quote
            for repairs.
        </p>
    </section>
    </div>

  <div>
    <div class="container">
      <div class="box box-1" style="--img: url(https://i.postimg.cc/sgBkfbtx/img-1.jpg)" data-text=" Carlos ">
        <div class="overlay"> <h2 class="card-title">Programador de backend</h2>
    </div>
      </div>
      <div class="box box-2" style="--img: url(https://i.postimg.cc/3RZ6bhDS/img-2.jpg)" data-text=" Guadalupe">
        <div class="overlay"><h2 class="card-title">Lider de proyecto</h2></div>
      </div>
      <div class="box box-3" style="--img: url(https://i.postimg.cc/DZhHg0m4/img-3.jpg)" data-text=" JP">
        <div class="overlay"> <h2 class="card-title">Tester</h2></div>
      </div>
      <div class="box box-4" style="--img: url(https://i.postimg.cc/KjqWx5ft/img-4.jpg)" data-text=" Seani">
        <div class="overlay"><h2 class="card-title">Programadora de frontend</h2></div>
      </div>
      <div class="box box-5" style="--img: url(https://i.postimg.cc/nrcWyW4H/img-5.jpg)" data-text="Chofy">
        <div class="overlay"><h2 class="card-title">Tester</h2></div>
      </div>
      <div class="box box-6" style="--img: url(https://i.postimg.cc/nrcWyW4H/img-5.jpg)" data-text="Aaron">
        <div class="overlay"><h2 class="card-title">Tester</h2></div>
      </div>


    </div>
  </div>

  <div class="separation"></div>
  <div class="container-footer">
      <footer>
          <div class="footer-img">
              <img src="resources/img/reportmant.png" alt="">
          </div>
          <div class="redes-footer">
              <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
              <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
              <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
          </div>
          <hr>
          <h4>Copyright ReporMant - All rights reserved</h4>

      </footer>
  </div>


  <script src="resources/js/about.js"></script>
</body>

</html>